.bg {
  background: url("../img/books4.jpg");
  width: 100%;
  height: 100vh;
}

.form-container {
  border: 1px solid #fff;
  padding: 20px 25px;
  margin-top: 15vh;

}
.button {
  background-color: #010101;
  border: 2px solid #e7e7e7;
  color: white;
  padding: 20px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: 300px;
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
}
.btn1 {
  background-color: #010101;
  border: 2px solid #e7e7e7;
  color: white;
  padding: 20px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: 300px;
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
}

label {
  color: LightGray;
  font-weight: bold;
}

div2 {
  opacity: 0.6;
  filter: alpha(opacity=60);
  border: 2px solid #fff;
  padding: 50px 60px;
  margin-top: 15vh;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  font-style: italic;
  font-family: sans-serif;
  color: LightGray;
}

p1 {
  font-size: 30px;
  font-family: sans-serif;
  color: LightGray;
}
